html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

h1 {
  margin: 0;
  text-align: center;
}

h1,
p,
label {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  max-width: 25rem;
}

#container {
  border: none;
  padding: 0.4rem;
  flex-direction: column;
  display: flex;
}

input {
  outline: none;
}

button {
  color: white;
  background-color: black;
  font-size: larger;
  padding: 0.5rem;
  margin-top: 1rem;
  cursor: pointer;
}

@media screen and (min-height: 700px) {
  html,
  body {
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 480px) {
  #container {
    border: 0.1rem solid lightgray;
    padding: 2rem;
    border-radius: 0.5rem;
  }

  html,
  body {
    align-items: center;
    justify-content: center;
  }
}
